<?xml version="1.0"?>
<launch>

    <node name="move_base" pkg="move_base" type="move_base"  output="screen">
        <rosparam param="$(find my_robot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam param="$(find my_robot_navigation)/config/base_local_planner_params.yaml" command="load" ns="local_costmap"/>
        <rosparam param="$(find my_robot_navigation)/config/local_costmap_params.yaml" />
        <rosparam param="$(find my_robot_navigation)/config/global_costmap_params.yaml" />
    </node>

</launch>